## Single Elements

In [1]:
import numpy as np

In [2]:
my_vector = np.array([-17, -4, 0, 2, 21, 37, 105])

In [3]:
my_vector

array([-17,  -4,   0,   2,  21,  37, 105])

In [4]:
my_vector[0]

-17

In [5]:
my_vector[0] = -102

In [6]:
my_vector

array([-102,   -4,    0,    2,   21,   37,  105])

In [7]:
my_vector[-3]

21

In [9]:
my_vector[5]

37

In [11]:
305 % 7

4

In [12]:
my_vector[305 % 7]

21

In [13]:
my_vector.size

7

## Two Dimensional Arrays

In [15]:
my_array = np.arange(35)
my_array.shape = (7,5)
my_array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [16]:
my_array[2]

array([10, 11, 12, 13, 14])

In [17]:
my_array[-2]

array([25, 26, 27, 28, 29])

In [18]:
my_array[5,2]

27

In [19]:
row = 5
column = 2
my_array[row,column]

27

In [20]:
my_array[5][2]

27

### Three Dimensional Arrays

In [21]:
my_3D_array = np.arange(70)

In [22]:
my_3D_array.shape = (2,7,5)
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [23]:
my_3D_array[1]

array([[35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64],
       [65, 66, 67, 68, 69]])

In [24]:
my_3D_array[1,3,2] = 1111
my_3D_array

array([[[   0,    1,    2,    3,    4],
        [   5,    6,    7,    8,    9],
        [  10,   11,   12,   13,   14],
        [  15,   16,   17,   18,   19],
        [  20,   21,   22,   23,   24],
        [  25,   26,   27,   28,   29],
        [  30,   31,   32,   33,   34]],

       [[  35,   36,   37,   38,   39],
        [  40,   41,   42,   43,   44],
        [  45,   46,   47,   48,   49],
        [  50,   51, 1111,   53,   54],
        [  55,   56,   57,   58,   59],
        [  60,   61,   62,   63,   64],
        [  65,   66,   67,   68,   69]]])